@layer utilities {
    /* този клас може никога да не се ползва в HTML – служи само да активира останалите */
    ._safelist {
        /* изброяваш тук всички класове, които иначе са динамични, за момента няма такива, i-user е само за пример */
        @apply i-user;
    }
}
